h1,h2,h3 {
  margin: 0px;
}

p {
  margin: 0px;
  line-height: 1rem;
  font-size: 1rem;
}

section {
  display: block;
}

.musthead {
  background-color: #313236;
  border-bottom: 1px solid #313236;
  height: 38px;
  width: 100%;
  z-index: 9000;
  padding: 0px;
}
.musthead-appname {
  color: #abaeb7;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 38px;
  margin: 0;
  vertical-align: top;
}

.hero-header {
  height: 370px;  
  max-height: 370px;
  min-height: 370px;
}

.label {
  font-size: 0.75rem !important;
}

.personalize-text {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
