body {
  margin: 0;
  font-family: helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: helvetica,arial,sans-serif;
}

section {
  display: block;
}

.text-white {
  color: #fff !important;
}

.masthead {
  background-color: #313236;
  border-bottom: 1px solid #313236;
  height: 38px;
  width: 100%;
  z-index: 9000;
  padding: 0px;
  position: fixed;
  margin-bottom: 38px;
}

.hero-header {
  height: 370px;  
  max-height: 370px;
  min-height: 370px; 
  margin-top: 38px !important;
}

.personalize-text {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
